body {
    background-color: seashell;
}
h1 {
    color: red;
    text-align: center;
}
h2 {
    color: blue;
}
p {
    color: green;
}
footer {
    text-align: center;
    color: white;
    background-color: black;
}